<html>
    <head>
    <title>
        CodeQuotient
    </title>
    </head>
    <body>
            <% include partials/header %>
            <% include partials/sideBar %>
            <div>
                hello
            </div>
            <% include partials/footer %>
    </body>
</html>